.table {
    width: 100%;
    /* position: absolute; */
    margin-left: 40%;
    margin-top: 50px;
}

.transaction-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction-title {
    margin-top: 50px;
}

.transaction-title-box {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: aliceblue;
    /* gap: 100px; */
    width: 59.8%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.title-date, .title-type, .title-category, .title-from, .title-amount {
    font-family: "Montserrat";
    font-size: 20px;
    /* border: 1px solid black; */
    text-align: center;
    width: 100%;
    height: 100%;
}

.transaction-box {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 0px;
    /* gap: 100px; */
    /* border: 1px solid black; */
    height: 100%;
    width: 60%;
}

.transaction-type, .transaction-id, .transaction-amount, .transaction-from, .transaction-category, .transaction-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-size: 16px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
    margin-top: 0px;
    text-align: center;
}

.transaction-date {
    border-bottom-left-radius: 7px;
}

.transaction-amount {
    border-right: 1px solid black;
    border-bottom-right-radius: 7px;
}

.edit-btn {
    width: 100%;
    height: 40px;
    margin-top: 50px;
    border: none;
    border-radius: 7px;
    font-family: "Montserrat";
}

.edit-btn:hover {
    cursor: pointer;
}